@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  font-family: 'Tajawal', sans-serif;
}

#calc-body {
  width: 35%;
  margin: auto;
  margin-top: 100px;
  border: 1px solid rgb(185, 185, 185);
  border-right: none;
  border-bottom: none;
}

form input {
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: right;
  border: none;
  font-family: inherit;
  font-size: 30px;
  background-color: #ccc;
  color: #333;
}

form input:focus {
  outline: none;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.orange {
  background-color: rgb(250, 155, 92);
}

button {
  height: 50px;
  border: none;
  border-right: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  font-size: 18px;
}

button:hover {
  background-color: #333;
  color: #fff;
}

#zero {
  grid-column: 1/3;
}
